<div class="container content">
<div class="row"> 
    <div class="col-sm-12 collapse multi-Collapse" id="menu" style="background-color: white;">
  <div class="d-flex flex-wrap flex-row-reversed">
    <div class="card cartel card-column justify-content-between ml-2" style="background-color: beige;">
      <img class="card-image" src="./images/Gotas.jpg" alt="Responsive image" style="width: 265px; height: 220px;">
      <div class="card-header">
        <h5 class="card-title" data-toggle="popover" data-placement="top" title="Documentos sobre Rocio"><span class="oi oi-document"></span> Documentacion:</h5>
      </div>
      <div class="card-body">
      <h6 class="card-subtitle text-muted">Manual sobre Aceite y Coadyuvante Rocio</h6>

      <p class="card-text">
        Manual pdf sobre Rocio
      </p>
      <div>

      </div>
      <button type="button" class="btn btn-primary btn-reserved" style="color: white;" data-toggle="popover" data-content="Documentacion sobre Coadyuvante y Aceite Rocio "><span class="oi oi-script"></span><a href="./documentos/rocio.pdf"> Ver PDF</a></button>
      <div>

      </div>
      </div> 
    </div>
  <div class="card cartel card-column justify-content-between ml-2" style="background-color: beige;">
    <img class="card-image" src="./images/ForMaiz.png" alt="Responsive image" style="width: 265px; height: 220px;">
    <div class="card-header">
      <h5 class="card-title" data-toggle="popover" data-placement="top" title="Documento sobre formaiz"><span class="oi oi-document"></span> Documentacion:</h5>
    </div>
    <div class="card-body">
    <h6 class="card-subtitle text-muted">Manual sobre ForMaiz, de Forquimica</h6>

    <p class="card-text">
      Manual pdf sobre ForMaiz
    </p>
    <div>

    </div>
    <button type="button" class="btn btn-primary btn-reserved" style="color: white;" data-toggle="popover" data-content="Documentacion sobre formaiz"><span class="oi oi-script"></span><a href="./documentos/formaiz.pdf"> Ver PDF</a></button>
    <div>

    </div>
    </div> 
  </div>
  <div class="card cartel card-column justify-content-between ml-2" style="background-color: beige;">
    <img class="card-image" src="./images/Cleaner TIS.png" alt="Responsive image" style="width: 265px; height: 220px;">
    <div class="card-header">
      <h5 class="card-title" data-toggle="popover" data-placement="top" title="Documentos de Cleaner TIS"><span class="oi oi-document"></span> Documentacion:</h5>
    </div>
    <div class="card-body">
    <h6 class="card-subtitle text-muted">Manual sobre CleanerTIS, de Forquimica</h6>

    <p class="card-text">
      Manual pdf sobre Cleaner TIS
    </p>
    <div>

    </div>
    <button type="button" class="btn btn-primary btn-reserved" style="color: white;" data-toggle="popover" data-content="Documentacion sobre Cleaner TIS"><span class="oi oi-script"></span><a href="./documentos/cleanertis.pdf"> Ver PDF</a></button>
    <div>

    </div>
    </div> 
  </div>
  <div class="card cartel card-column justify-content-between ml-2" style="background-color: beige;">
    <img class="card-image" src="./images/Soja.png" alt="Responsive image" style="width: 265px; height: 220px;">
    <div class="card-header">
      <h5 class="card-title" data-toggle="popover" data-placement="top" title="Documento sobre Inoculante"><span class="oi oi-document"></span> Documentacion:</h5>
    </div>
    <div class="card-body">
    <h6 class="card-subtitle text-muted">Manual sobre Inoculantes</h6>
 
    <p class="card-text">
      Manual pdf sobre Inoculante para soja
    </p>
    <div>

    </div>
    <button type="button" class="btn btn-primary btn-reserved" style="color: white;" data-toggle="popover" data-content="Documento pdf sobre Inoculante"><span class="oi oi-script"></span><a href="./documentos/inoculante.pdf"> Ver PDF</a></button>
    </div> 
        </div>
    </div>
  </div>
</div>
</div>

